!
! Base Store Configlet
! Other config items derived from Container configlets, (aaa, api, ntp, etc...)
!
hostname {{ switch.switch_hostname }}
!
interface Vlan100
   description Management
   ip address {{ switch.switch_mgmt_ip }}/{{ switch.bit_mask }}
!
ip route 0.0.0.0/0 {{ switch.default_gw }}
!
ip routing
!